.chat-message__container {
  margin: 16px;
}

.chat-message__user {
  color: green;
  font-size: 12pt;
  font-weight: 600;
  width: 40vw;
  margin: 0;
  margin-bottom: 12px;
}

.chat-message__content__container {
  display: flex;
}

.chat__container {
  display: flex;
  justify-content: space-between;
  height: 64vh;
  gap: 32px;
  padding: 16px;
}

.chat-messages__container {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #fff;
}

.chat-message__text {
  width: 100%;
  padding: 12px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}

.chat-message__hour {
  padding: 12px;
  font-size: 9pt;
}

.chat-participants__container {
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.chat-participants__title {
  font-size: 14pt;
  margin-bottom: 16px;
}

.chat-participants__container ul {
  list-style: none;
  padding: 0;
}

.chat-participants__container li {
  display: flex;
  align-items: center;
}

.chat-participants__container li:before {
  content: "\2022";
  font-size: 30px;
  color: #48f542;
}
