header {
  align-items: center;
}

.nav {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 18%;
}

.participante {
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.nomeParticipante {
  color: green;
  font-size: 14pt;
  width: 40vw;
  margin: 0;
  margin-bottom: 4px;
}

.containerChat {
  display: flex;
}

main {
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.batepapo {
  padding: 20px;
  border: 1px solid #000;
}

.child-nav1 {
  margin-left: 15px;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.mensagem {
  width: 100%;
}

.horario {
  margin-left: 20px;
  margin-right: 20px;
}

.child-nav2 {
  margin-left: 10px;
  display: inline-block;
}
